.calendar {
  display: block;
  position: relative;
  width: 100%;
  border-top: 1px solid #dfdfdf;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffffff;
}
.calendar-header,
.calendar-content,
.calendar-footer {
  position: relative;
  display: block;
  background-color: #ffffff;
  color: #1d1d1d;
}
.calendar-header {
  padding: 0px !important;
  background-color: #000;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
	display: none !important;
}
.calendar-header .header-year {
  font-size: 0.75rem;
  line-height: 1;
}
.calendar-header .header-day {
  font-size: 1.325rem;
}
.calendar-content {
  padding: 1px;
  width: 100% !important;
  font-size: 14px !important;
}
.calendar-content .calendar-toolbar,
.calendar-content .days-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.calendar-content .calendar-toolbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}
.calendar-content .calendar-toolbar .prev-month,
.calendar-content .calendar-toolbar .prev-year,
.calendar-content .calendar-toolbar .next-month,
.calendar-content .calendar-toolbar .next-year {
  padding: 0.5rem 0;
  cursor: pointer;
  text-align: center;
  width: 30px;
  display: block;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.calendar-content .calendar-toolbar .curr-month,
.calendar-content .calendar-toolbar .curr-year {
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}
.calendar-content .week-days,
.calendar-content .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  font-size: 10px;
}
.calendar-content .days {
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.calendar-content .days-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar-content .day,
.calendar-content .week-number {
  width: calc(100%/7);
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  height: 36px;
  line-height: 36px;
}
.calendar-content .day.and-week-number {
  width: calc(100% / 8);
}
.calendar-content .day.selected {
  -webkit-box-shadow: inset 0 0 0 1px #5ebdec !important;
          box-shadow: inset 0 0 0 1px #5ebdec !important;
}
.calendar-content .day.selected::after {
  border-top: 20px solid #5ebdec;
  border-left: 20px solid transparent;
  right: 0;
  top: 0;
}
.calendar-content .day.selected::before {
  right: 1px!important;
  top: 1px!important;
}
.calendar-content .day.showed {
  font-weight: bold;
}
.calendar-content .week-days .day {
  font-weight: 700;
}
.calendar-content .week-number {
  width: calc(100% / 8);
  background-color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  border-right: 1px solid #dfdfdf;
}
.calendar-content .outside {
  color: #bebebe;
  font-size: 1.2rem;
}
.calendar-content .today {
  background-color: #F11B62;
  color: #ffffff;
  font-weight: bold;
}
.calendar-content .excluded {
  background-color: #f8f8f8;
}
.calendar.day-border .days-row:not(:nth-child(1)) {
  border-top: 1px solid #dfdfdf;
}
.calendar.day-border .days-row .day:not(:nth-child(1)),
.calendar.day-border .week-days .day:not(:nth-child(1)) {
  border-left: 1px solid #dfdfdf;
}
.calendar.day-border .days-row .week-number,
.calendar.day-border .week-days .week-number {
  border-right: none;
}
.calendar-months,
.calendar-years {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background-color: #f8f8f8;
  color: #1d1d1d;
  float: left;
  width: 120px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 500;
}
.calendar-years > .years-list,
.calendar-months > .months-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto!important;
}
.calendar-years > .years-list li.active,
.calendar-months > .months-list li.active {
  background-color: #F11B62;
  color: #ffffff;
}
.calendar-months {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 160px;
}
.calendar-months.open {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 5px 0 7px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 0 7px -6px rgba(0, 0, 0, 0.75);
}
.calendar-months .months-list {
  list-style: none inside;
  padding: 0;
  margin: 10px 0;
}
.calendar-months .months-list li {
  padding: 4px 16px;
  cursor: pointer;
}
.calendar-months .months-list li:hover {
  background-color: rgba(29, 29, 29, 0.1);
}
.calendar-years {
  left: 100%;
}
.calendar-years.open {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-shadow: -5px 0 7px -6px rgba(0, 0, 0, 0.75);
          box-shadow: -5px 0 7px -6px rgba(0, 0, 0, 0.75);
}
.calendar-years .years-list {
  list-style: none inside;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.calendar-years .years-list li {
  padding: 4px 16px;
  cursor: pointer;
}
.calendar-years .years-list li:hover {
  background-color: rgba(29, 29, 29, 0.1);
}
.calendar-footer {
  padding: 0.5rem;
  border-top: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calendar-footer > * {
  margin: 0 2px;
  font-size: 0.75rem;
}
.calendar.compact {
  width: 240px;
}
.calendar.compact .calendar-content {
  width: 100%;
}
.calendar.compact .calendar-header {
  padding: 0.5rem;
  line-height: 1.2;
}
.calendar.compact .calendar-header .header-year {
  font-size: 0.65rem;
}
.calendar.compact .calendar-header .header-day {
  font-size: 1rem;
}
.calendar.compact .calendar-toolbar > * {
  padding: 0!important;
  font-size: 14px;
}
.calendar.compact .calendar-footer .button {
  height: 24px;
  line-height: 24px;
  padding: 0 0.25rem;
}
.calendar.compact .day,
.calendar.compact .week-number {
  height: 30px;
  line-height: 30px;
  width: 30px;
  margin: 0;
  font-size: 12px;
}
.calendar.compact .day + .day {
  margin-left: 1px;
}
.calendar.compact .months-list,
.calendar.compact .years-list {
  font-size: 0.85rem;
}
.calendar-wide {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 0px;
}
.calendar-wide::after {
  display: block;
  clear: both;
  content: "";
}
.calendar-wide::after {
  display: block;
  clear: both;
  content: "";
}
.calendar-wide.calendar-picker {
  width: 460px;
}
.calendar-wide .calendar-header,
.calendar-wide .calendar-footer {
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 100%;
}
.calendar-wide .calendar-header {
  left: 0;
}
.calendar-wide .calendar-footer {
  right: 0;
}
.calendar-wide .calendar-header {
  width: 0px;
}
.calendar-wide .calendar-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-top: none;
  border-left: 1px solid #dfdfdf;
  width: 100px;
}
.calendar-wide .calendar-footer * {
  width: 100%;
  margin: 2px 0;
}
.calendar-wide .calendar-content {
  width: 100%;

}
.calendar-wide.compact {
  width: 454px!important;
}
.calendar-wide.compact.calendar-picker {
  width: 354px!important;
}
.calendar-wide.compact .calendar-header {
  width: 120px;
}
.calendar-wide.compact .calendar-content {
  margin: 0 96px 0 120px;
  width: 234px;
}
.calendar-picker {
  position: relative;
}
.calendar-picker input {
  width: 100%;
}
.calendar-picker .calendar {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 500;
}
.calendar-picker .calendar.open {
  display: block!important;
}
.calendar-picker .calendar.open-up {
  top: auto;
  bottom: 100%;
}
.calendar-picker.dialog-mode .calendar {
  position: fixed;
  top: 50%!important;
  left: 50%!important;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 1050;
}
.calendar-picker.dialog-mode .calendar.open-up {
  top: auto;
  bottom: auto;
}
.calendar-picker .calendar-wide {
  width: 464px;
}
.calendar-picker .calendar-wide.compact {
  width: 364px;
}
